<footer class="footer mt-5">
  <div class="container">
    <div class="text-center text-light">
      <div class="footer-content">
        <ul>
          <li class="nav-item">
            <p>Indirizzo: Via Salvini, 24 - Roma (RM)</p>
          </li>
          <li class="nav-item"><p>Telefono: 06/11223344</p></li>
          <li class="nav-item">
            <p>Email: scuola.azzarita&#64;example.com</p>
          </li>
        </ul>
        <div class="copyright mt-2">
          © Since1987 - {{ currentYear }} Fabrizio D'Alessandro
        </div>
      </div>
    </div>
  </div>
</footer>