<div class="container">
  <div *ngIf="categoria">
    <h1>Login di accesso per {{ categoria.nomeCat }}</h1>
    <p>{{ categoria.descrCat }}</p>
  </div>

  <form (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label class="form-label" for="nome_utente">Username:</label>
      <input class="form-control" type="text" id="nome_utente" [(ngModel)]="nome_utente" name="nome_utente" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password:</label>
      <input class="form-control" type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-2">
    {{ errorMessage }}
  </div>
</div>
