<div class="container mt-5">
  <h2>Lista Allievi</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Codice Fiscale</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di Nascita</th>
        <th>Luogo di Nascita</th>
        <th>Email</th>
        <th>Classe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let allievo of allievi">
        <td>{{ allievo.id }}</td>
        <td>{{ allievo.codiceFiscale }}</td>
        <td>{{ allievo.nome }}</td>
        <td>{{ allievo.cognome }}</td>
        <td>{{ allievo.dataDiNascita }}</td>
        <td>{{ allievo.luogoDiNascita }}</td>
        <td>{{ allievo.email }}</td>
        <td>{{ allievo.livelloClasse + allievo.sezioneClasse }}</td>
      </tr>
    </tbody>
  </table>
</div>
